name: Python Deploy NP

on:
  workflow_dispatch:
  pull_request:
    types: [opened, synchronize, reopened, closed]
    branches:
      - main

concurrency:
  group: python-deploy-${{ github.ref }}
  cancel-in-progress: true

env:
  PYTHON_VERSION: "3.10"
  IMAGE_NAME: ghcr.io/${{ github.repository }}

jobs:
  lint-test:
    name: Lint and Test
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v4

      - name: setup python
        uses: actions/setup-python@5
        with:
          python-version: ${{ env.PYTHON_VERSION }}
          cache: "pip"

      - name: install dev deps
        run: |
          python -m pip install --upgrade pip
          pip install -e ".[dev]"   # at the moment we assume a pyproject.toml and dev dependencies

      - name: Run pre-comit (ruff + black)
        run: pre-commit run --all-files

      - name: pytest
        run: pytest -v --cov=src --cov-report=term-missing
