name: Python Deploy NP

on:
  workflow_dispatch:
  pull_request:
    types: [opened, synchronize, reopened, closed]
    branches:
      - main

concurrency:
  group: python-deploy-${{ github.ref }}
  cancel-in-progress: true

env:
  PYTHON_VERSION: "3.10"
  IMAGE_NAME: ghcr.io/${{ github.repository }}

jobs:
  version:
    uses: paulhatch/semantic-version@v5.4.0
  with:
    tag_prefix: "v"
    # A string which, if present in a git commit, indicates that a change represents a
    # major (breaking) change, supports regular expressions wrapped with '/'
    major_pattern: "/!:|BREAKING CHANGE:/"
    # Same as above except indicating a minor change, supports regular expressions wrapped with '/'
    minor_pattern: "/feat:/"
  lint-test:
    name: Lint and Test
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v4

      - name: setup python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ env.PYTHON_VERSION }}
          cache: "pip"

      - name: install dev deps
        run: |
          python -m pip install --upgrade pip
          pip install -e ".[dev]"   # at the moment we assume a pyproject.toml and dev dependencies

      - name: Run pre-comit (ruff + black)
        run: pre-commit run --all-files

      - name: pytest
        run: pytest -v --cov=src --cov-report=term-missing

  build-image:
    name: build (and push on main)
    needs: [lint-test, version]
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write # for GHCR
    steps:
      - name: checkout code
        uses: actions/checkout@v4

      # - name: Docker meta (tags & labels)
      #   uses: docker/metadata-action@v5
      #   with:
      #     images: ${{ env.IMAGE_NAME }}
      #     tags: |
      #       type=raw,value=pr-

      - name: setup docker buildx
        uses: docker/setup-buildx-action@v3

      - name: login to GHCR
        if: ${{ github.ref == 'refs/heads/main' || github.event_name == 'pull_request' }}
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: build (PR's dont push)
        # if: ${{ github.event_name == 'pull_request' }}
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          push: false
          tags: ${{ needs.version.outputs.version }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Build & Push (main)
        if: ${{ github.ref == 'refs/heads/main' }}
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ${{ needs.version.outputs.version }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
