name: Trufflehog Security Scan

on:
  workflow_call:
    inputs:
      truffle-hog-rules:
        description: 'Path to Trufflehog rules file'
        default: './rules.yml'
        required: true
        type: string
  workflow_dispatch:

  pull_request:
    types: [opened, synchronize, reopened]
    branches:
      - main

jobs:
  trufflehog:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8

      - name: Set up Python
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c
        with:
          python-version: '3.11'

      - name: Install Trufflehog
        run: |
          pip install truffleHog

      - name: Run Trufflehog
        run: |
          trufflehog --regex --rules ${{ inputs.truffle-hog-rules }} git:$(git rev-parse --short HEAD)
